
header img {
width: 40%;
border: 1px ;
height: 70px;
}

footer img {
max-width: 80px;
height: auto;
top: 30px;
}

#lecture{
width: 100%;
margin-left: 1em;
}

#arrow {
width: 10%;
height: 70px;
margin-left:2rem ;
}

#neil {
  width:50%;
  object-fit:contain;
  height: auto;
}

#pdf {
  width:20%;
padding: 2em;
align-items: flex-start;
}

header {
  min-height: 10vh;
  padding: 2em;
  display: flex;
  justify-content:flex-end;
  position: relative;
}

footer{
  padding-top: 100px;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: auto;

}

 #read {
   display: flex;
   flex-direction: row;
  align-items: center;
    justify-content: space-around;

 }

#back {
  display: flex;
  flex-direction: row;
 align-items: center;
   justify-content: space-around;
    width: auto;

}



.container {
padding-top: 50px;
padding-bottom: 0px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /*  position: relative;*/
}

.container1 {
  display: inline-flex;
 flex-direction: row;
  flex-wrap: nowrap;
  align-items:flex-start;
}

.item1 {
  width: 200px;
  height: 200px;
  padding: space-evenly;
}

.container2 {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background: rgb(248, 248, 255, 0.4);
top:0%;
}



.button1 {
  display:flex;  border: none;
  justify-content: center;
  position: center;
  color: white;
  width: auto;
}


#main-content{
  background: rgb(248, 248, 255, 0.4);
  padding: 40px;
}

.container4{
display: grid;
grid-template-columns: 47% 47%;
align-items: start;
justify-content: space-between;
row-gap: 100px;
}

.container5{
display: grid;
grid-template-columns: 45% 45%;
align-items: start;
justify-content: space-evenly;
}


.bio {
    background: rgb(248, 248, 255, 0.4);
    padding-top: 40px;
    padding: 40px;
    flex-direction: row;
}


#barre1 {
  position: relative;
border-left: 1px solid #fff;
  display: block;
  height: 5vh;
  width: 2em;
}

#barre2 {
  position: relative;
border-left: 1px solid #fff;
  display: block;
  height: 12vh;
  width: 2em;
}

#barre3 {
  position: relative;
border-left: 1px solid #fff;
  display: block;
  height: 9vh;
  width: 2em;
}



#barre4 {
  position: relative;
border-left: 1px solid #fff;
  display: block;
  height: 7vh;
  width: 2em;
}

.active::before {
 content: " ";
 display: block;
 height: 60px;
 width: 60px;
 background-image: url('images/etoile.svg');
 position: absolute;
 top: -70px;
 left: -28px;

}
