
header img {
width: 40%;
border: 1px ;
height: 70px;
}

footer img {
max-width: 60px;
height: auto;
}

img {
width: 40%;
height: 70px;
}

#neil {
  width: 100px;
  object-fit:contain;
  height: auto;
}

header {
  min-height: 10vh;
  padding: 2em;
  display: flex;
  justify-content:flex-end;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: auto;

}


.container {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /*  position: relative;*/
}

.container1 {
  display: inline-flex;
 flex-direction: row;
  flex-wrap: nowrap;
  align-items:flex-start;
}

.item1 {
  width: 200px;
  height: 200px;
  padding: space-evenly;
}

.container2 {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background: rgb(248, 248, 255, 0.4);
top:0%;
}


.button1 {
  display:flex;  border: none;
  justify-content: center;
  position: center;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	color:#666666;
	font-family:'masqualero',sans-serif;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 17px #ffffff;
}

.button1:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
.button1:active {
	position:relative;
}


#main-content{
  background: rgb(248, 248, 255, 0.4);
  padding: 40px;
}

.container4{
display: grid;
grid-template-columns: 45% 45%;
align-items: start;
justify-content: space-between;
row-gap: 150px;
}

.bio {
    background: rgb(248, 248, 255, 0.4);
    padding-top: 40px;
    padding: 40px;
    flex-direction: row;
}

.active::before {
 content: "image/svg";
 background-image: url('images/etoile.svg');
 position: absolute;

}
