body {background-color: #FAEBD7}

header img {
width: 40%;
border: 1px ;
height: 70px;
}

footer img {
width: 40%;
border: 1px ;
height: 70px;
}

img {
width: 40%;
height: 70px;
}



header {
  min-height: 10vh;
  padding: 2em;
  display: flex;
  justify-content:flex-end;
  position: relative;
}


.container1 {
 flex-direction: row;
  flex-wrap: nowrap;
 display: inline-flex;
  align-items: flex-end;
}

.item1 {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.container2 {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background: rgb(248, 248, 255, 0.4)
}


.button1 {
  w
position: absolute;
top: 100%;
right: 50%;
left: : 50%;
  border: none;
  color: white;
  padding: 10px 50px 10px 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
}


#main-content{
  background: rgb(248, 248, 255, 0.4);
  padding: 40px;
}

.container4{
display: grid;
grid-template-columns: 45% 45%;
align-items: start;
justify-content: space-between;
row-gap: 150px;
}
